<div class="sidebar-box">
    <h4>Follow Me</h4>
    <ul class="list-inline social-colored">
        <li><a href="https://www.linkedin.com/in/nateyolles" target="_blank"><i class="fa fa-linkedin icon-in" data-toggle="tooltip" title="" data-original-title="Linkedin" data-placement="top"></i></a></li>
        <li><a href="https://twitter.com/nateyolles" target="_blank"><i class="fa fa-twitter icon-twit" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
        <li><a href="https://github.com/nateyolles" target="_blank"><i class="fa fa-github icon-github" data-toggle="tooltip" title="" data-original-title="Github" data-placement="top"></i></a></li>
    </ul>
</div>