<div class="comment-wrapper">
    <h4>5 Comments</h4>
    <div class="comment-box">
        <div class="comment-list">
            <img src="img/team-1.jpg" class="img-responsive" alt="">
            <h5><a href="#">Melinda</a> On 7 june | <a href="#">Reply</a></h5>
            <p>
                Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.
            </p>
        </div><!--comment list end-->
        <div class="comment-list">
            <img src="img/team-2.jpg" class="img-responsive" alt="">
            <h5><a href="#">james</a> On 7 june | <a href="#">Reply</a></h5>
            <p>
                Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.
            </p>
        </div><!--comment list end-->
        <div class="comment-list">
            <img src="img/team-1.jpg" class="img-responsive" alt="">
            <h5><a href="#">Melinda</a> On 7 june | <a href="#">Reply</a></h5>
            <p>
                Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.
            </p>
        </div><!--comment list end-->
        <div class="comment-list">
            <img src="img/team-3.jpg" class="img-responsive" alt="">
            <h5><a href="#">Sharmaji</a> On 7 june | <a href="#">Reply</a></h5>
            <p>
                Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.
            </p>
        </div><!--comment list end-->
        <div class="comment-list">
            <img src="img/team-2.jpg" class="img-responsive" alt="">
            <h5><a href="#">John</a> On 7 june | <a href="#">Reply</a></h5>
            <p>
                Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.
            </p>
        </div><!--comment list end-->
    </div>
    <div class="comment-form">
        <h4>Leave a Comment</h4>
        <form class="wow animated fadeInUp">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Name" id="name">
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" placeholder="Email" id="password">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Subject" id="subject">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Company" id="company">
                </div>
                <div class="col-md-12">
                    <textarea class="form-control" placeholder="Your Comment" rows="7"></textarea>
                </div>
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-lg btn-theme-color">Send Comment</button>
                </div>
            </div>
        </form>
    </div>
</div>