<div class="sidebar-box">
    <h4>Similar Posts</h4>
    <div class="popu-post-item">
        <img src="img/blog-list2.jpg" class="img-responsive" alt="">
        <h5><a href="blog-post.html">Lorem ipsum dollor</a></h5>
        <span>Posted on 2 june by <a href="#">Author</a></span>
        <p>
            Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor.
        </p>
    </div>
    <div class="popu-post-item">
        <img src="img/blog-list3.jpg" class="img-responsive" alt="">
        <h5><a href="blog-post.html">Lorem ipsum dollor</a></h5>
        <span>Posted on 2 june by <a href="#">Author</a></span>
        <p>
            Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor.
        </p>
    </div>
    <div class="popu-post-item">
        <img src="img/blog-list1.jpg" class="img-responsive" alt="">
        <h5><a href="blog-post.html">Lorem ipsum dollor</a></h5>
        <span>Posted on 2 june by <a href="#">Author</a></span>
        <p>
            Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor.
        </p>
    </div>
</div>