<section id="footer" class="padding-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 copyright">
                <span>&copy; 2015 Nate Yolles</span>
            </div>
            <div class="col-md-6 col-sm-6 footer-nav">
                Powered by <a href="https://github.com/nateyolles/publick-sling-blog" target="_blank">Publick Sling + Sightly Blog Engine</a>
            </div>
        </div>
    </div>
</section>

<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>