<div class="blog-item-sec" data-sly-use.blog="com.nateyolles.sling.publick.components.foundation.BlogView"
     data-sly-use.comments="com.nateyolles.sling.publick.components.foundation.CommentsView">
    <!--/* <img src="${blog.imageRelativePath}" class="img-responsive" alt="${blog.description}"> */-->
    <div class="blog-item-head">
        <h3>${blog.title}</h3>
    </div>
    <div class="blog-item-post-info">
        <span class="scrollto">Nate Yolles | ${blog.displayDate} | <a href="#comments" class="blog-view-comments">${comments.count} <sly data-sly-text="${comments.count == 1 ? 'comment' : 'comments'}"></sly></a> |</span>
    </div>
    <div class="blog-item-post-desc">
        ${blog.content @ context='html'}
    </div>
    <div class="blog-more-desc">
        <div class="row">
            <div data-sly-resource="${@ resourceType='publick/components/socialMediaShare'}" data-sly-unwrap></div>
        </div>
    </div>

    <div data-sly-resource="${@ resourceType='publick/components/commentsView'}" data-sly-unwrap></div>
</div>